html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
.element {
  width: 100%;
  height: 70%;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: #FF4136;
  }
}

html,
body {
  height: 70%;
}

.wrapper {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  body
  {
      background: #cfd8dc;
  }
  
  .card-container
  {
      font-family: 'Open Sans', sans serif;
      font-size: 30px;
      font-weight: bold;
  
      width: 350px;
      height: 150px;
      margin: 80px auto;
  
      border-radius: 10px;
  
      perspective: 1400px;
  }
  
  .card
  {
      position: relative;
  
      height: 100%;
  
      border-radius: 10px;
  
      widht: 100%;
      transform-style: preserve-3d;
  }
  
  .front,
  .back
  {
      display: flex;
  
      width: 100%;
      height: 100%;
  
      border-radius: 10px;
  
      justify-content: center;
      align-items: center;
      backface-visibility: hidden;
  }
  
  .front
  {
      color: #fff;
      background: #45a063;
  }
  
  .back
  {
      position: absolute;
      top: 0;
      left: 0;
  
      transform: rotateY(180deg);
  
      color: #45a063;
      background: #fff;
  }


.row {clear: both;}
.limited {
    max-width: 1140px; 
    margin: auto;
}

.column {padding: 0 2vw; margin: 0 0 .75rem 0;}
.small-12 {width: 100%;}
.small-6 {width: 50%;}


.description {
  text-align: center;
  text-indent: px;
}

top-container {
    background-color: #fffefe;
    padding: 30px;
    text-align: center;
    
    

}
header {
    padding: 7px 16px;
    background: rgb(221, 220, 220);
    color: #f1f1f1;
    position: sticky; top: 0;    
    
}
.center {
    display: block;
    margin-top: 0em;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    height: 5%;
  }
header h1, header h2 {
    margin: 0;
    color: #fff; 
    font-weight: 300;
    font-style: italic;
} 
content {
    margin-top: 100px;
    padding: 16px;
  }


 

footer {
    background-color: #d4d3d3;
    font-size: 1.2rem;
    
}
footer h2 {
    font-style: italic;
    text-transform: uppercase;
    margin: 1rem 0 .3rem 0;
}
footer ul {
    list-style-type: none;
    padding: 0;
     
}
footer li {padding-bottom: .3rem;}


